#mcym {}

.img-quote{
    border-bottom: 1px solid #ffffff70;
    padding: 2rem;
    margin: 1rem;
    display: flex;
    align-items: center;
}

.mcym-imgs {
    width: 50%;
}

.crsl-mcym {
    width: 100%;
    height: 20rem;
    border-radius: 1rem;
}

.quote-2 {
    width: 50%;
    margin-left: 2rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}